$cBlack: black;
$cWhite: White;

.mobile-menu-icon {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  & > span {
    background-color: $cBlack;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform .7s;
    &:nth-child(3){
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;

    }
  }
}

.menu-open {
  background-color: $cBlack;

  & .mobile-menu-icon {
    & > span {
      background-color: $cWhite;
      &:nth-child(1){
        transform: translateY(11px) rotate(135deg);
      }
      &:nth-child(2){
        transform: translateX(-18px) scale(0);
      }
      &:nth-child(3){
        transform: translateY(-11px) rotate(-135deg);
      }

      &:nth-child(4){
        transform: translateY(11px) rotate(135deg);
      }
      &:nth-child(5){
        display: none;
      }
      &:nth-child(6){
        // transform: rotate(45deg);
        transform: rotate(-135deg);
      }
    }
  }
}
